html {
    color: rgb(30, 30, 39);
    background-color: hsl( 240, 30%, 95%);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/*HEADER SECTION*/

.header {
    border: 2px solid hsl( 240, 30%, 95%);
    height: 85px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: hsl( 240, 30%, 95%);
}

.header h1 {
    border-radius: 100px;
    margin-top: 10px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 45px;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 25%;
    color: white;
    background-color: hsl( 120, 90%, 30%);
    /* animation section */
    
}

.header h1:hover {
    animation: bouncein 2s ease-in-out 250ms infinite forwards;
    /* animation-play-state: running; */
}

@keyframes bouncein {
    0% {
        transform: scale(0.1) translate(10px, 2px);
    }

    50% {
        transform: scale(1.2) translate(10px, 2px);
    }

    100% {
        transform: scale(1) translate(10px, 2px);
    }
}

.legend-list {
    margin-right: 5px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.legend-list h3 {
    text-decoration: underline;
    border-bottom: 2px solid  hsl( 120, 90%, 30%);
}

@media only screen and (max-width: 480px) {
    .header h1 {
        width: 80%;
        font-size: 20px;
    }

    .legend-list {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header h1 {
        width: 47%;
    }

    .legend-list {
        width: 47%;
    }
}

@media only screen and (max-width: 800px) {
    .header h1 {
        width: 40%;
    }

    .legend-list {
        width: 40%;
    }
}

/*FIRST BODY SECTION*/

.body-first {
    border: 2px solid  hsl( 240, 30%, 95%);
    border-bottom: hsl( 240, 40%, 70%);
    background-image: linear-gradient(45deg, rgba(80, 75,43,0.7)) url(./Starsinthesky.jpg);
    background-position: 100% 100%;
    position: relative;
    top: 80px;
    width: 100%;
    height: 18.25rem;
}

.body-first h2 {
    padding-top: 1%;
    margin-top: 5rem;
    text-align: center;
    height: 19%;
    word-spacing: 5px;
    font-size: 2rem;
    background-color: hsl( 240, 30%, 95%);
}

.legend-span span {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 30px;
    color: hsl( 120, 90%, 30%);
}

span {
    font-family: 'Great Vibes', cursive;
    color: hsl( 120, 90%, 30%);
}

.body-first h4 {
    text-align: center;
    position: relative;
    top: -10%;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    background-color: hsl( 240, 30%, 95%);
}

/* second body */

.body-second {
    border: 2px solid hsl( 240, 40%, 70%);
    position: relative;
    top: 80px;
    width: 100%;
    background-color: hsl( 240, 40%, 70%);
}

.body-second h1 {
    color: white;
    margin: 70px auto;
    text-align: center;
}

.images-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-container {
    width: 32%;
}



img {
    /* border-radius: 500px; */
    width: 90%;
    height: 90%;
    margin-left: 15px;
    margin-top: 10px;
}

figure {
    background-color: hsl( 240, 30%, 80%);
    width: 300px;
    height: 400px;
}

figcaption {
    text-align: center;
    color: white;
    word-spacing: 10px;
    font-size: 20px;
    font-family: 'Tilt Prism', cursive;
}

@media only screen and (max-width: 950px) {
    .image-container {
        width: 48%;
    }
}

@media only screen and (max-width: 680px) {
    .image-container {
        width: 100%;
    }

    /* figcaption {
        text-align: justify;
    } */
}

/* third body  */

.body-third {
    border: 2px solid hsl( 240, 30%, 80%);
    width: 100%;
    height: 300px;
    position: relative;
    top: 80px;
    background-color: hsl( 240, 30%, 80%);
}

.quote {
    background-color: hsl( 240, 35%, 75%);
    text-align: center;
    border: 1px solid black;
    width: 85%;
    margin-top: 7%;
    margin-left: 7%;
    font-family: 'Shantell Sans', cursive;
}

/* footer section */

.foot {
    border: 2px solid hsl( 240, 20%, 90%);
    position: relative;
    top: 80px;
    background-color: hsl( 240, 20%, 90%);
    display: flex;
    justify-content: space-between;
}

.first-foot {
    display: inline-flex;
    margin-left: 15px;
}

.first-foot h3 {
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-foot h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.second-foot {
    display: inline-flex;
    margin-right: 15px;
    font-style: italic;
}

@media only screen and (max-width: 250px) {
   .first-foot {
    margin-left: 0;
    font-size: 10px;
   }

   .second-foot {
    margin-right: 0;
    font-size: 10px;
   }
}