@font-face {
    font-family: 'Roboto Condensed';
    src: url(./font/RobotoCondensed-VariableFont_wght.ttf) format(truetype),
         url(./font/RobotoCondensed-Italic-VariableFont_wght.ttf) format(truetype);
}

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 2rem; */
    transition: 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* main {
    width: 100%;
    margin-left: 2%;
} */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color 0.4s ease-in-out;
    z-index: 1000;
}

.header.scrolled {
    background-color: white;
    opacity: .99;
    /* box-shadow: 1px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.head-body {
    height: 100vh;
    background-image: url(./logos/Home-Page-Bg-White-Mode.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* ANIMATION */
    animation-name: animate;
    animation-direction: normal;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

@keyframes animate {
    10% {
        background-image: url(./logos/Home-Page-Bg-White-Mode.png);
    }

    30% {
        background-image: url(./products/earring-channelllll.jpg);
        background-repeat: repeat;
    }

    50% {
        background-image: url(./products/earring-emerald-style-gold.jpg);
        background-repeat: repeat;
    }

    70% {
        background-image: url(./products/earring-gold-long-2.jpg);
        background-repeat: repeat;
    }

    90% {
        background-image: url(./products/earring-gold-hollow.jpg);
        background-repeat: repeat;
        animation-timing-function: step-start;
    }

    99% {
        background-image: url(./logos/Sparkles-Outline.png);
        background-repeat: no-repeat;
        background-position: 20%;
    }

    100% {
        background-image: url(./logos/Home-Page-Bg-White-Mode.png);
    }
}

.lists {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-family: cursive;
    font-size: 1.1em;
    margin-top: 15px;
    margin-right: -8%;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.lists p:hover {
    cursor: pointer;
    /* text-decoration: underline; */
    color: #acc;
}

.end {
    display: flex;
    width: 19%;
    margin-top: 15px;
    justify-content: space-between;
    margin-right: -17%;
    font-family: cursive;
    transition: ease-in-out;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.logo-name {
    margin-top: 15px;
    width: 150px;
}

.logo-name img {
    width: 100%;
    cursor: pointer;
}

.search-icon:hover .search-normal {
    cursor: pointer;
    font-size: 1.3em;
    fill: #acc;
}

.login_sign-up {
    display: flex;
    justify-content: space-around;
    width: 57%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.login_sign-up a:hover,
.login_sign-up a:hover svg {
    /* text-decoration: underline; */
    color: #acc;
    fill: #acc;
}

.cart:hover {
    cursor: pointer;
    fill: #acc;
}

.search {
    position: relative;
    width: 0;
    height: 0px;
    background: #eee;
    border-radius: 35px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    right: 2%;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.hide-stuffs {
    display: none;
}

.active-search {
    height: 35px;
    width: 30%;
    opacity: 1;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border: 2px solid #287;
    border-radius: 50%;
    transform: translate(-1px, -1px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 7px;
    background: #287;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .icon:hover::before {
    width: 10px;
    height: 10px;
}

.search .icon:hover::after {
    height: 9px;
}

.search .input {
    position: relative;
    width: 90%;
    height: 35px;
    left: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: #000;
    margin-right: 10%;
    z-index: 20;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    right: 7%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: rgb(51, 132, 119, 0.5);
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: rgb(51, 132, 119, 0.5);
    transform: rotate(-45deg);
}

.clear:hover::before, .clear:hover::after {
    height: 15px;
    width: 2px;
}

.nav-2 {
    display: none;
}

/* HEADER SECTION MEDIA QUERY AND RESPONSIVE SIDE BAR  */
@media only screen and (max-width: 800px) {

    .lists, .span-text, .sec-svg {
        display: none;
    }

    .login_sign-up {
        width: auto;
    }

    svg {
        font-size: 1.2em;
    }

    .end {
        position: relative;
        right: -13%;
        width: 18%;
    }

    .nav-2 {
        display: block;
    }

    .logo-name {
        position: relative;
        left: 33%;
    }
    
    .sidebar {
        z-index: 1222222;
        display: block;
        position: fixed;
        top: 0px;
        /* right: -65%; */
        left: -65%;
        width: 65%;
        height: 100%;
        background-color: #eee;
        transition: all 300ms ease-in-out;
    }

    .sidebar .toggle-btn {
        position: absolute;
        top: 15px;
        /* left: -10%; */
        right: -10%;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .sidebar .toggle-btn span {
        position: absolute;
        top: 30px;
        width: 100%;
        height: 2px;
        background: black;
        transform: translateY(-50%);
        transition: all 300ms ease-in-out;
    }

    .sidebar .toggle-btn span:nth-child(1) {
        top: 60%;
    }

    .sidebar .toggle-btn span:nth-child(2) {
        top: 90%;
    }

    .sidebar .toggle-btn span:nth-child(3) {
        top: 120%;
    }

    .links {
        position: relative;
        top: 8%;
    }

    .sidebar .links a {
        display: block;
        padding: 15px 10px;
        text-decoration: none;
        color: black;
        cursor: pointer;
        border-bottom: 1px solid grey;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .sidebar .links a.active-nav,
    .sidebar .links a:hover {
        /* background-color: #222; */
        color: #287;
    }

    .sidebar .links a i {
        display: inline-block;
        margin-left: 10px;
    }

    .sidebar.active-nav {
        left: 0px;
        /* right: 0px; */
    }

    .sidebar.active-nav .toggle-btn span:nth-child(1) {
        top: 30%;
        /* right: -1600%; */
        /* left: -1550%; */
        left: -2600%;
        transform: translateY(-50%) rotate(45deg);
    }

    .sidebar.active-nav .toggle-btn span:nth-child(2) {
        display: none;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(3) {
        top: 30%;
        /* right: -1600%; */
        /* left: -1550%; */
        left: -2600%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .search .input input {
        width: 70%;
        margin-right: 5%;
    }

    .links img {
        width: 50%;
        /* margin-bottom: 10%; */
        /* margin-left: 24%; */
    }

    .nav-icons {
        position: relative;
        top: 7px;
        left: 5px;
        margin-right: 10px;
    }

    .social-media-top {
        position: relative;
        display: flex;
        justify-content: space-between;
        bottom: -15%;
        left: 5%;
        width: 50%;
        gap: 10%;
    }

    .social-media-top svg:hover {
        cursor: pointer;
        fill: #acc;
    }

    .copyright-section-top p {
        position: relative;
        left: 5%;
        margin-right: 5%;
        font-size: 0.7rem;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .copyright-section-top {
        position: relative;
        top: 20%;
        border-top: 1px solid black;
    }
}

@media only screen and (max-width: 650px) {
    .end {
        margin-right: -10%;
    }

    .logo-name {
        left: 28%;
    }

    .sidebar {
        width: 75%;
        left: -75%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(1) {
        /* right: -1600%; */
        left: -1600%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(3) {
        /* right: -1600%; */
        left: -1600%;
    }

    .social-media-top {
        position: relative;
        bottom: -25%;
    }

    .copyright-section-top {
        position: relative;
        top: 28%;
    }
}

@media only screen and (max-width: 400px) {
    
    .end {
        margin-right: -8%;
    }

    .logo-name {
        left: 25%;
    }

    
    .search .input input {
        width: 50%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(1) {
        /* right: -1600%; */
        left: -1400%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(3) {
        /* right: -1600%; */
        left: -1400%;
    }
}


@media only screen and (max-width: 330px) {
    .end {
        width: 22%;
        margin-right: 0;
    }

    .logo-name {
        left: 20%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(1) {
        /* right: -1600%; */
        left: -1200%;
    }

    .sidebar.active-nav .toggle-btn span:nth-child(3) {
        /* right: -1600%; */
        left: -1200%;
    }
}


/* BODY-1 */
.body-1 {
    display: flex;
    width: 95%;
    margin: 2%;
    height: 350px;
    justify-content: space-between;
    gap: 2%;
}

.body-text {
    margin-top: 2%;
    width: 50%;
}

.body-text h5 {
    color: #fea2a2;
    font-size: 1.3em;
    font-family: 'Quintessential', cursive;
    font-family: 'Shantell Sans', cursive;
}

.body-text h2 {
    font-size: 40px;
    margin-right: 6%;
    font-family: 'Roboto Condensed', sans-serif;
}

.body-text button {
    width: 95px;
    /* width: 150px; */
    height: 40px;
    font-size: 1.1em;
    border-radius: 50px;
    border: 2px solid;
    transition: 0.2s ease-in-out;
    font-family: 'Roboto Condensed', sans-serif;
}

.body-text button:hover {
    cursor: pointer;
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
}

.body-text button:active {
    width: 97px;
    height: 43px;
    background-color: grey;
    color: blanchedalmond;
}

.body-display {
    display: flex;
    justify-content: center;
    width: 76%;
    height: 100%;
    border: 8px solid transparent;
    border-radius: 50px;
    overflow: hidden;
    animation: move 8s ease-in-out infinite;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, gold, pink, gold,purple,gold,rgb(244, 246, 125),rgb(239, 132, 219), rgb(247, 72, 101),gold, blue);
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.body-display video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.body-display video:hover {
    cursor: pointer;
    width: 110%;
    height: 110%;
}

@media only screen and (max-width: 800px) {

    .body-display-1 {
        display: none;
    }

    .body-text {
        margin-top: -2%;
    }
}


@media only screen and (max-width: 650px) {

    .body-1 {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .body-display-1, .body-display-2 {
        display: none;
    }

    .body-text h5 {
        font-size: 1.1rem;
    }

    .body-text h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {

    .body-1 {
        flex-direction: column-reverse;
        min-height: 120vh;
    }

    .body-text {
        min-width: 90%;
        margin-left: 8%;;
    }

    .body-display {
        min-width: 90%;
        margin-left: 4%;
    }

    .body-text button {
        margin-left: 30%;
    }
}

/* CATEGORY */
.body-category {
    margin-top: 10%;
}

.category {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.category h2 {
    margin-bottom: 3%;
    font-family: 'Roboto Condensed', sans-serif;
}

.category-section {
    background: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
    padding: 2%;
    overflow: hidden;
    /* place-items: center; */
    /* margin: 1%; */
}

.category-sections {
    overflow: hidden;
}

.section-images {
    max-width: 300px;
}

.category-sections:hover {
    cursor: pointer;
}

.category-sections:hover .section-text span {
    font-size: 1.7em;
}

.category-sections:hover .section-text h4 {
    text-decoration: underline;
}

.section-images {
    /* width: 100%; */
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.section-images img {
    width: 100%;
    height: 100%;
}

.section-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.section-text span {
    margin-top: 6%;
}

@media only screen and (max-width: 800px) {
    .section-text span {
        margin-top: 9%;
    }
}

@media only screen and (max-width: 550px) {
    
    .category-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .category h2 {
        font-size: 1em;
    }

    .section-images {
        max-width: 250px;
        height: 250px;
    }

    .section-text span {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 400px) {

    .section-text span {
        margin-top: 12%;
    }

    .section-images {
        max-width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 350px) {

    .section-text span {
        margin-top: 15%;
    }

    .section-images {
        max-width: 150px;
        height: 200px;
    }
}

/* TRANSITION FOR TWO IMAGES */

.show {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.show:hover {
    opacity: 0;
}

/* part 1 */

.show-1 {
    background-image: url(./products/earring-rainbow-white.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.show-2 {
    background-image: url(./products/necklace-eye-gold.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.show-3 {
    background-image: url(./products/single-gold-bracelet-preview.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.show-4 {
    background-image: url(./products/single-gold-bracelet-preview-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.show-5 {
    background-image: url(./products/necklace-heart-silver-black.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.show-6 {
    background-image: url(./products/earring-yellow-distance.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

/* part 2 */

.hover-1 {
    background-image: url(./stock-photos/lock-heart.jpg);
    background-size: cover;
}

.hover-2 {
    background-image: url(./stock-photos/silvebracelets.jpg);
    background-size: cover;
    background-position: center;
}

.hover-3 {
    background-image: url(./stock-photos/blue-earrings.jpg);
    background-size: cover;
    background-position: center;
}


/* COLLECTIONS */
.body-2 {
    margin-top: 10%;
}

.collection {
    width: 100%;
    margin-left: 1%;
    margin-right: 2%;
}

.carousel-collection {
    position: relative;
    margin-bottom: -15px;
}

.carousel-collection .slide-button {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    border: none;
    outline: none;
    color: #000;
    background: #ccc;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.carousel-collection .slide-button:hover {
    background: #a09e9e;
}

.carousel-collection .slide-button:active {
    background: #a7a6a6;
}

.carousel-collection .slide-button#prev-slide {
    left: -20px;
    margin-left: 2%;
}

.carousel-collection .slide-button#next-slide {
    right: -20px;
    margin-right: 4%;
}

.carousel-headers {
    width: 70%;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
}

.carousel-paragraphs {
    width: 99%;
    font-family: cursive;
}

span {
    font-size: 1.1em;
}

.carousel-button {
    position: relative;
    top: 120px;
    min-width: 120px;
    height: 35px;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid;
    transition: 0.2s ease-in-out;
}

.carousel-button:hover {
    cursor: pointer;
    width: 105px;
    height: 35px;
    background-color: black;
    color: white;
}

.carousel-button:active {
    width: 103px;
    height: 33px;
    background-color: grey;
    color: blanchedalmond;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 1%;
    margin-left: 1%;
    margin-right: 2%;
    height: 350px;
}

.carousel::-webkit-scrollbar {
    display: none;
}


.carousels {
    width: 220px;
    height: 300px;
    margin-bottom: 2%;
}

.carousels-pic {
    min-width: 220px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.carousels-pic img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.carousels-pic img:hover {
    cursor: pointer;
    width: 110%;
    height: 110%;
}

.carousels:hover .carousel-price {
    cursor: pointer;
    text-decoration: underline;
}

.carousel-price {
    width: 220px;
    height: 50px;
    background: #e8e7e7;
    margin-top: 0;
    border-radius: 5px;
}

.carousel-price:hover {
    cursor: pointer;
    text-decoration: underline;
}

.carousel-price h5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Monofett', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}

.carousel-price h3 {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
}



@media only screen and (max-width: 500px) {

    .carousel {
        gap: 3%;
    }

    .carousels {
        min-width: 180px;
        height: 250px;
    }

    .carousels-pic {
        min-width: 180px;
        height: 220px;
    }

    .carousel-price {
        width: 180px;
    }

    .carousel-price h5 {
        font-size: 0.8rem;
    }
}


/* CUSTOM SLIDER CREATION */

.slider-scrollbar {
    height: 24px;
    width: 97%;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 3px;
}

.slider-scrollbar .scrollbar-thumb {
    height: 100%;
    width: 50%;
    background: #000;
    position: absolute;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 5px;
    top: -1px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/* BODY-3 */
.body-3 {
    margin: 10% 2%;
    width: 95%;
    overflow: hidden;
}

.column h2 {
    margin-bottom: 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.columns {
    display: flex;
    gap: 1%;
}

.columns-segment {
    background: #eee;
    width: 33%;
}

.columns-image {
    width: 90%;
    height: 300px;
    margin: 5%;
}

.columns-image img {
    width: 100%;
    height: 100%;
}

.columns-text {
    margin: 5%;
    width: 90%;
}

.columns-text h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

.columns-text p {
    font-family: cursive;
    line-height: 2em;
    word-spacing: 0.3em;
}

.column button {
    margin-top: 5%;
    width: 11%;
    height: 35px;
    margin-left: 44%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #eee;
    background: #000;
}

.column button:hover {
    background: #eee;
    color: #000;
    border: 1px solid;
    cursor: pointer;
}

.column button:active {
    background: #ccc;
    color: #000;
}

@media only screen and (max-width: 800px) {
    .column button {
        margin-left: 40%;
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {

    .column h2 {
        font-size: 1.3rem;
    }

    .columns {
        /* justify-content: flex-start; */
        flex-wrap: wrap;
        margin-left: 3%;
    }

    .columns-segment {
        min-width: 98%;
    }

    .column button {
        width: 95%;
        margin-left: 3%;
    }

    /* .columns-segment-1, .columns-segment-2, .columns-segment-3 {
        margin-top: 3%;
    } */
}

/* FOOTER */
footer {
    width: 100vw;
    /* height: 100vh; */
    height: 450px;
    margin-top: 3%;
    background: #eee;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-footer {
    width: 100%;
    height: 85%;
    border-bottom: 1px solid #000;
    font-size: 1.2em;
}

.links-and-information {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 17%;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 17%;
    margin-bottom: 3%;
}

.contact {
    margin-top: 15%;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 10%;
    margin-right: -12%;
}

.social-media svg:hover {
    cursor: pointer;
    fill: #acc;
}

.copyright-section {
    margin-left: 7%;
    margin-top: 3%;
    font-size: 0.8em;
}

.email input {
    position: relative;
    width: 180%;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-email {
    display: flex;
}

.footer-buttons {
    z-index: 2000;
    position: relative;
    left: 75%;
}

.icon-button {
    cursor: pointer;
    height: 46px;
    width: 50px;
    /* font-size: 1.5rem; */
    color: #fff;
    background: #000;
}

.icon-button:hover {
    color: #000;
    background: #eee;
    border: 1px solid;
}

.icon-button i {
    font-size: 1.5rem;
}

.links-text p:hover {
    cursor: pointer;
    text-decoration: underline;
}


@media only screen and (max-width: 700px) {
    .social-media {
        width: 30%;
        margin-top: 6%;
    }

    .information {
        margin-right: -15%;
    }
}

@media only screen and (max-width: 500px) {

    footer {
        height: 400px;
    }

    .main-footer {
        font-size: 1rem;
    }

    .social-media {
        width: 40%;
        margin-top: 6%;
    }

    .information {
        margin-right: -20%;
    }
}

@media only screen and (max-width: 400px) {

    footer {
        height: 350px;
    }

    .email input {
        width: 162%;
    }

    .footer-buttons {
        left: 57%;
    }

    .main-footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 330px) {
    .email input {
        width: 140%;
    }

    .footer-buttons {
        left: 46%;
    }
}