* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 94%);
}

.container {
    width: 40%;
    height: 65%;
    background: hsl(0, 0%, 100%);
    border-radius: 20px 20px 150px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 85%;
    height: 85%;
}

.date form {
    display: flex;
    width: 80%;
    margin-bottom: 7%;
}

.dates h6 {
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(0, 1%, 44%);
    margin-bottom: 3%;
}

.dates input {
    width: 90%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2.3px solid hsl(0, 0%, 94%);
    padding-left: 10%;
    padding-right: 10%;
    outline: none;
    /* padding: auto; */
}

.dates input:focus {
    border: 1px solid hsl(259, 100%, 65%);
    margin-right: 2%;
}

.dates input::placeholder {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
}

.dates input::-webkit-inner-spin-button,
.dates input::-webkit-outer-spin-button,
.dates input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    /* -moz-appearance: none; */
}

.click {
    width: 100%;
    position: relative;
    display: flex;
}

.click span {
    height: 2px;
    width: 90%;
    background: hsl(0, 0%, 94%);
}

.img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-top: -7%;
    background: hsl(259, 100%, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.img:hover {
    background: hsl(0, 0%, 8%);
}

.img img {
    width: 45%;
    height: 45%;
}

.date-displayed {
    margin-top: -2%;
}

.date-displayed h1 {
    font-size: 3.3rem;
    font-style: italic;
    font-weight: 950;
    color: hsl(0, 0%, 8%);
    margin-bottom: -6%;
}

.calc {
    color: hsl(259, 100%, 65%);
}

/* active states */

.dates p,
.dates span {
    display: none;
    font-size: 0.5rem;
    font-weight: 100;
    color: hsla(0, 100%, 67%, 0.4);
    position: absolute;
}

.dates p.active,
.dates span.active {
    display: block;
}

/* .dates input.active {
    border: 1px solid hsl(0, 100%, 67%);
}

.dates h6.active {
    color: hsl(0, 100%, 67%);
} */

.dates.active input {
    border: 1px solid hsl(0, 100%, 67%);
}

.dates.active h6 {
    color: hsl(0, 100%, 67%);
}

/* mobile responsiveness  */
@media only screen and (max-width:800px) {
    .container {
        width: 70%;
    }
}



@media only screen and (max-width:500px) {
    .container {
        width: 90%;
        min-height: 60%;
        height: auto;
        /* height: 60%; */
        border-radius: 20px 20px 120px 20px;
    }

    .date form {
        width: 100%;
        margin-bottom: 25%;
    }

    .dates h6 {
        font-size: 0.8rem;
    }

    .dates input {
        font-size: 1.2rem;
        height: 50px;
    }

    .click span {
        width: 100%;
    }

    .img {
        width: 60px;
        height: 60px;
        margin-top: -10%;
        margin-left: -63%;
        margin-bottom: 10%;
    }
}